/*** GLOBAL STYLES ***/

body {
	background-color: #EEF4F5;
	font-family: 'Poppins', sans-serif;
	color: #2B3B4F;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 40px;
	font-weight: 300;
	margin: -.4em 0 -.35em 0; 
}

h2 {
	font-size: 30px;
	font-weight: 400;
	margin: -.35em 0; 
}

h3 {
	font-size: 20px;
	line-height: 1.4;
}

h4 {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: .02em;
}

p {
	font-size: 15px;
	line-height: 1.5;
	font-weight: 300;
	margin: 1em 0 0 0; 
}

a {
	color: #FD4F3F;
	text-decoration: none;
	transition-property: color;
	transition-duration: 300ms;
	cursor: pointer;
}

a:hover {
	color: #e2281b;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;               
  background-color: #D6E6E9;
  height: 2px;
  margin: .1em 0 1em 0;
}


label {
	font-size: 14px;
	font-weight: 500;
}


/* Layout & Containers */

section {
	width: 100%;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	width: 90%;
}

.header-spacer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section-padding {
	padding: 80px 0;
}


/* Buttons */

button {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: white;
	border-radius: 3em;
	padding: 7px 15px 6px 15px;
	border: none;
	cursor: pointer;
	outline: none;
	transition-property: background-color;
	transition-duration: 300ms;
}

button i {
	margin-right: 3px;
	transform: translateY(-.05em);
}

.a-button, .a-button:hover {
	color: white;
}

.btn-red {
	background-color: #FD4F3F;
}

.btn-red:hover {
	background-color: #ef382b;
}

.btn-green {
	background-color: #24d3a8;
}

.btn-green:hover {
	background-color: #0cc698;
}

.btn-yellow {
	background-color: #ffb82f;
}

.btn-yellow:hover {
	background-color: #ffa802;
}

.btn-blue{
	background-color: #48c8f7;
}

.btn-blue:hover {
	background-color: #28bbf1;
}

.btn-purple{
	background-color: #b376fa;
}

.btn-purple:hover {
	background-color: #a765f5;
}

.btn-secondary {
	background-color: #d6e6e9;
	color: #2B3B4F;
}

.btn-secondary:hover {
	background-color: #c8dadd;
}


/* Font styles */

.txt-light {
	font-weight: 300;
}

.txt-bold {
	font-weight: 600;
}

.txt-blue {
	color: #2B3B4F;
}

.txt-red {
	color: #FD4F3F;
}

.txt-white {
	color: white;
}


/* Background colors */

.bkg-white {
	background-color: #EEF4F5;
}

.bkg-lightgray {
	background-color: #E3EDEF;
}

.bkg-blue {
	background-color: #143660;
}



/* Back to Top Button */

.cd-top {
	position: fixed;
	right: 1.75%; bottom: 0;
	flex-direction: column;
	align-items: center;
	padding: 11px 14px 6px 14px;
	border-radius: 3em 3em 0 0;
	background-color: #143660;
	z-index: 99;
	display: flex;
	opacity: 0;
	cursor: pointer;
	border-top: 2px solid #E3EDEF;
	border-left: 2px solid #E3EDEF;
	border-right: 2px solid #E3EDEF;
}

.cd-top p {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: .05em;
	color: #E3EDEF;
	margin: 0;
	transition-property: color;
	transition-duration: 300ms;
}

.cd-top i {
	font-size: 14px;
	-webkit-text-fill-color: #E3EDEF;
	-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: #143660;
	margin-bottom: 1px;
}

.cd-top:hover > i, .cd-top:hover > p {
	color: white;
} 

.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 300ms;
}

.cd-top.cd-fade-out {
  opacity: .33;
  transition-property: opacity;
  transition-duration: 300ms;
}

.cd-top.cd-fade-out:hover {
  opacity: 1;
}


/*** NAVIGATION BAR ***/

nav {
	display: flex;
	align-items: center;
	z-index: 1;
	position: absolute;
	top: 10px;
}

nav #nav-logo {
	height: 60px;
	margin-left: -2px;
}

nav #nav-links {
	margin-bottom: 10px;
}

nav #nav-links a {
	color: #2B3B4F;
	font-size: 14px;
	font-weight: 500;
	margin-left: 32px;
}

nav #nav-links a:hover {
	color: #FD4F3F;
}


/*** HOMEPAGE STYLES ***/

/* Hero Section */

section#hero-text {
	background-color: #E3EDEF;
	margin-top: -10px;
}

section#hero-text .container {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 66vh;
}

section#hero-text h3 {
	width: 70%;
	font-weight: 300;
	text-align: center;
}

section#hero-text a {
	box-shadow: inset 0 -2px 0 #E3EDEF, inset 0 -5px 0 #FD4F3F;
	transition-property: box-shadow, color;
	transition-duration: 300ms;
}

section#hero-text a:hover {
	color: #e2281b;
	box-shadow: inset 0 -2px 0 #E3EDEF, inset 0 -5px 0 #e2281b;
}


/* WORK TILES */

* { box-sizing: border-box; }

/* Filter Buttons */

.filters-button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

#filters-header i {
	display: none;
	-webkit-text-fill-color: #2B3B4F;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #EEF4F5;
	cursor: pointer;
}

#filters-show-me {
	display: none;
	font-weight: 500;
}

.filters-button-group label {
	font-weight: 600;
	margin-top: 2px; margin-right: 5px;
}

.filters-button-group hr {
	display: none;
}

.filters-button-group button {
	margin-left: 13px;
}

.filter-icon {
	height: 18px;
	width: 18px;
	margin: 2px 5px 0 0;
	float: left;
}

.filter-icon-all {
	background: url(../img/filter_all.svg) no-repeat;
	margin-right: 3px;
}

.filter-icon-brand {
	background: url(../img/filter_brand.svg) no-repeat;
}

.filter-icon-print {
	background: url(../img/filter_print.svg) no-repeat;
}

.filter-icon-ui {
	background: url(../img/filter_ui.svg) no-repeat;
	margin-right: 2px;
}

.filter-icon-code {
	background: url(../img/filter_code.svg) no-repeat;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* 4 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 25%;
}

.grid-item {
  position: relative;
  float: left;
  cursor: pointer;
  background: #0D8;
  overflow: hidden;
}

.grid-item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.grid-item-2x {
	width: 50%;
}

.grid-item-2x:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.grid-item-overlay {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 101%;
	opacity: 0;
	transition: 300ms ease;
	background-color: #0e3669;
}

.grid-item-text {
  position: absolute;
  text-align: center;
  width: 85%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition-property: top;
  transition-duration: 400ms;
}

.grid-item-text h3 {
	font-weight: 300;
	line-height: 1.1;
}

.grid-item-text p {
	font-weight: 500;
	margin-top: -10px;
}

.grid-item-text i {
	font-size: .65em;
	margin-left: .1em;
	transform: translateY(-.2em);
}

.grid-item:hover > .grid-item-overlay {
	opacity: .93;
}

.grid-item:hover .grid-item-text {
	top: 50%;
}


/* About Section */

#about .container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

#about-text {
	text-align: left;
	width: 95%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
}

#img-ryne {
	width: 450px;
	max-width: 35%;
	height: auto;
	border-radius: 10%;
	border-left: 1px solid #c1cbd0;
	border-right: 1px solid #c1cbd0;
	box-shadow: 0 4px 0 #c1cbd0;
}

#img-ryne:after {
	padding-bottom: 100%;
}

#about-text span {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transition-property: color;
	transition-duration: 300ms;
}

#about-text a {
	margin-top: 5px;
}

#about-text i {
	transform: scale(.7);
	margin: 18px 0 0 5px;
}

#about-text span:hover, #about-text a:hover {
	color: #FD4F3F;
}

#icon-resume {
	width: 32px;
	margin-top: 20px; margin-right: 13px;
}


/* Contact Section */

section#contact .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section#contact p {
	width: 640px;
	max-width: 90%;
	text-align: center;
	margin: 20px 0 24px 0;
}


/* Site Footer */

footer .header-spacer {
	margin: 20px 0;
	color: #d2dfe1;
}

.footer-link, #footer-links .fa-arrow-right {
	color: #d2dfe1;
	transition-property: color;
	transition-duration: 300ms;
}

.footer-link:hover {
	color: white;
}

#footer-links {
	display: flex;
	align-items: center;
}

#footer-links h4 {
	margin-right: 38px;
}

#footer-links i {
	transform: scale(1.4);
	margin-right: .4em;
	color: #FD4F3F;
}

#footer-links .fa-arrow-right {
	transform: scale(.9);
	margin-left: 2px;
	transition-property: transform;
	transition-duration: 200ms;
}


/* MEDIA QUERIES s*/

@media all and (max-width: 950px) {

	section#hero-text h3 {
		width: 75%;
		text-align: left;
	}

	.grid-item,
	.grid-sizer {
	  width: 33.333%;
	}

	.grid-item-2x {
		width: 66.666%;
	}

}

@media all and (max-width: 910px) {

	.filters-button-group {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
	}

	.filters-button-group hr {
		display: block;
	}

	#filters-buttons {
		display: flex;
		flex-direction: row;
		margin-top: 10px;
	}

	.filters-button-group label {
		margin-right: 0;
	}

	.filters-button-group button {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 1em;
		margin: 0;
	}

	.filters-button-group .filter-btn-middle {
		margin: 0 13px;
	}

}

@media all and (max-width: 700px) {

	h1 {
		font-size: 35px;
	}

	h3 {
		font-size: 18px;
	}

	.section-padding {
		padding: 50px 0;
	}

	#work-gallery {
		padding-bottom: 80px;
	}

	#nav-links {
		display: none;
	}

	section#hero-text .container {
		padding-top: 60px;
		height: 60vh;
	}

	section#hero-text h3 {
		width: 100%;
		font-weight: 300;
		text-align: left;
	}

	.filters-button-group {
		display: block;
	}

	#filters-header {
		width: 100%;
	}

	#filters-show-me {
		display: inline-block;
	}

	#filters-header i {
		display: inline-block;
	}

	#filters-buttons {
		display: none;
		margin-top: 29px;
		margin-bottom: 4px;
		width: 100%;
	}

	#filters-buttons button {
		flex-direction: row;
		border-radius: 3em;
		width: 100%;
		margin-bottom: 7px;
	}

	.filters-button-group .filter-btn-middle {
		margin: 0;
	}

	.filter-icon {
		height: 18px;
		width: 18px;
		margin: -2px 10px 0 3px;
		float: left;
	}

	.grid-item,
	.grid-sizer {
	  width: 50%;
	}

	.grid-item-2x {
		width: 50%;
	}

	#about .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		transform: translateY(-75px);
	}

	#img-ryne {
		margin-bottom: 25px;
		max-width: 46%;
	}

	#about-text {
		width: 100%;
		margin-left: 0; margin-bottom: -70px;
		align-items: center;
	}

	#about-text h1 {
		text-align: center;
		margin-top: 0;
	}

}

@media all and (max-width: 600px) {

	section#contact .container {
		width: 100%;
	}

	section#contact p {
		width: 100%;
		text-align: left;
	}

}

@media all and (max-width: 450px) {
	.grid-item,
	.grid-sizer {
	  width: 100%;
	  margin-bottom: 12px;
	}

	.grid-item-2x {
		width: 100%;
	}

	.grid-item-overlay {
		opacity: .93;
	}

	.grid-item-text {
	  top: 50%;
	}

}